{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'bookings' %}">Leave Request Page</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'view_leave_type' %}">View Leave Type</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Leave Type</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col text-center mx-auto">
            <h3>Add a Leave Type</h3>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="card mx-auto" style="max-width:520px; margin-bottom:7rem;">
        <article class="card-body">
          {% include 'includes/alerts.html' %}
          <form action="#" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                  <label>Leave Type:</label>
                  {{ form.leave_type }}
              </div> <!-- form-group end.// -->
              <div class="form-group">
                <label>Detail:</label>
                {{ form.detail }}
            </div> <!-- form-group end.// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">Add a Leave Type</button>
              </div> <!-- form-group// -->           
              </form>
          </article><!-- card-body.// -->
    </div> <!-- card .// -->
</div>
{% endblock %}