{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
      <div class="col">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'leave_request_page' %}">Leave Request Page</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Manager Approval</li>
              </ol>
          </nav>
      </div>
  </div>
</div>
<br>
<div class="card mx-auto" style="max-width:900px; margin-bottom:10px;">
    <article class="card-body">
      <header class="mb-4"><h4 class="card-title">View Users leave requests (Manager)</h4></header>
      <div class="scrollable">
          {% if not leave_request_list %}
          Currently No user has created a leave request😊
          {% endif %}
          {% for leave_request in leave_request_list %}
          <div class="card" style="max-height:400px;">
            <div class="card-body">    
            <p class="card-text">Full Name: <b>{{ leave_request.requester_name.first_name }} {{ leave_request.requester_name.last_name }} ({{ leave_request.requester_name.email }})</b></p>
            <p class="card-text">Title: <b>"{{ leave_request.title }}"</b></p>
            <p class="card-text">From: <b>{{ leave_request.from_date }}</b> to <b>{{ leave_request.to_date }}</b></p>
            <p class="card-text">Leave Type: <b>{{ leave_request.leave_type }}</b></p>
            <p class="card-text">Created at: <b>{{ leave_request.created_time }}</b></p>
            <p class="card-text">HR Comment: <b>{{ leave_request.hr_comment }}</b></p>
            <a href="{% url 'approval_screen' leave_request.id %}">View Detail</a>
            </div>
          </div>
            {% endfor %}
      </div>
      </article><!-- card-body.// -->
  </div> <!-- card .// -->
{% endblock %}