{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col mx-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'bookings' %}">Bookings Page</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'view_room_information' room.id %}">{{ room.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Booking for {{ room.name }}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<br>
<div class="card mx-auto" style="max-width:600px; margin-bottom:20px;">
    <article class="card-body">
        <header class="mb-4">
            <h4 class="card-title">Booking for {{ room.name }}</h4>
        </header>
        {% include 'includes/alerts.html' %}
        <form action="{% url 'create_booking' room.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Name:</label>
                {{form.name}}
            </div> <!-- form-group end.// -->
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>From Date:</label>
                    {{form.from_date}}
                </div> <!-- form-group end.// -->
                <div class="form-group col-md-6">
                    <label>To Date:</label>
                    {{form.to_date}}
                </div> <!-- form-group end.// -->
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>From Time:</label>
                    {{form.from_time}}
                </div> <!-- form-group end.// -->
                <div class="form-group col-md-6">
                    <label>To Time:</label>
                    {{form.to_time}}
                </div> <!-- form-group end.// -->
            </div>
            <div class="form-group">
                <label>Description:</label>
                {{form.description}}
            </div> <!-- form-group end.// -->
            <div class="form-group">
                <button type="submit" name="book" class="btn btn-primary btn-block"> Book a Room </button>
            </div> <!-- form-group// -->
        </form>
    </article><!-- card-body.// -->
</div> <!-- card .// -->
{% endblock %}