{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col mx-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'bookings' %}">Bookings Page</a></li>
                    <li class="breadcrumb-item active" aria-current="page">View Rooms</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col text-center mx-auto">
            <h3>View Rooms</h3>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col mx-auto">
            <a href="{% url 'add_rooms' %}" class="btn btn-outline-primary">Add Rooms +</a>
        </div>
    </div>
    <br>
    <div class="row mx-auto">
        <div class="col mx-auto">
            <span class="mr-md-auto"><b>{{ rooms_count }}</b> rooms found </span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for room in rooms %}
        <div class="col-md-4">
            <figure class="card card-product-grid">
                <div class="img-wrap">
                    <img src="{{ room.images.url }}">
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                    <div class="fix-height">
                        <a href="#" class="title">{{ room.name }}</a>
                        <small>{{ room.address }}</small>
                    </div>
                    {% if user.is_booking_admin %}
                    <a href="{% url 'delete_room' room.id %}"
                        onclick="return confirm('Are you sure you want to delete this room?')"
                        class="btn btn-block btn-danger">Delete Rooms</a>
                    {% endif %}
                </figcaption>
            </figure>
        </div> <!-- col.// -->
        {% endfor %}
    </div>
</div> <!-- container .//  -->
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}