{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'helpdesk_home' %}">Help Desk</a></li>
                  <li class="breadcrumb-item active" aria-current="page">My request</li>
                </ol>
              </nav>              
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col text-center mx-auto">
        <h3>View Your Request</h3>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 2rem; margin-bottom: 7rem;">
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Issue</th>
          <th scope="col">Other Issue</th>
          <th scope="col">Issue Image</th>
          <th scope="col">Detail</th>
        </tr>
      </thead>
      <tbody>
          {% for user_request in my_requests %}
          <tr>
              <td>{{ user_request.requester.email }}</td>
              <td>{{ user_request.issue }}</td>
              <td>
                {% if user_request.other_issue %}
                {{ user_request.other_issue }}
                {% else %}
                <b>NOT GIVEN</b>
                {% endif %}
              </td>
              <td>
                {% if user_request.image %}
                <a href="{{ user_request.image.url }}">
                  <img src="{{ user_request.image.url }}" class="rounded" height="100" width="100">
                </a>
                {% else %}
                <img src="{% static 'img/no_image.png' %}" class="rounded" height="100" width="100">
                {% endif %}
              </td>
              <td><a href="{% url 'detail_my_request' user_request.id %}" class="btn btn-success">Detail</a></td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}