{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card mx-auto" style="max-width:700px; margin-bottom:10px;">
    <article class="card-body">
      <header class="mb-4"><h4 class="card-title">About</h4></header>
      <div>
          <div class="card" style="max-height:400px;">
            <div class="card-body">    
            <p class="card-text"><b>Creater Name:</b> Zekarias Mesfin</p>
            <p class="card-text"><b>Email:</b> zekarias.mesfin@hst-et.com // zekariasmesfin100@gmail.com</p>
            <p class="card-text"><b>Purpose:</b> This system is designed to automate simple office works like managing Meeting Rooms, Creating and Viewing Leave requests and Help Desk.</p>
            <p class="card-text"><b>Phone number:</b> 0941-18-21-21 // 0929-41-72-75</p>
            <p class="card-text"><b>Version:</b> 1.0.0</p>
            </div>
          </div>
      </div>
      </article><!-- card-body.// -->
  </div> <!-- card .// -->
{% endblock %}